{{>navigation}}
<div class="pt-8 text-center">
    <h1 class="text-3xl font-semibold">Toms Kaffeerösterei</h1>
</div>

<div class="grid flex-wrap grid-cols-2 py-16 mx-auto xl:grid-cols-4">
    <div class="bg-center bg-cover xl:order-1 h-60 sm:w-80 sm:h-60 xl:h-60 xl:w-60"
    style="background-image: url('/static/images/tom2.webp');">
    </div>
    <div class="p-4 text-white xl:order-2 h-60 sm:w-80 sm:h-60 xl:h-60 xl:w-60 bg-brand-500">
        <span>
            Unser Gründer und Geschäftsführer Tom Schwarz. Seit 2014 betreibt Tom nun schon Toms Kaffeerösterei.
        </span>
    </div>

    <div class="p-4 xl:order-4 h-60 sm:w-80 sm:h-60 xl:h-60 xl:w-60 bg-brand-200">
        <span>
            2021 dann der Umzug innerhalb der Ladenstraße in ein größeres und noch schöneres Geschäft.
        </span>
    </div>
    <div class="bg-center bg-cover xl:order-3 h-60 sm:w-80 sm:h-60 xl:h-60 xl:w-60"
        style="background-image: url('/static/images/laden1.webp');">
    </div>
    <div class="bg-center bg-cover xl:order-6 h-60 sm:w-80 sm:h-60 xl:h-60 xl:w-60"
        style="background-image: url('/static/images/trommelroester.webp');">
    </div>

    <div class="p-4 xl:order-5 h-60 sm:w-80 sm:h-60 xl:h-60 xl:w-60 bg-brand-200">
        <span>
            Wir rösten im sogenannten Trommelröstverfahren: besonders langsam und bei niedrigen Temperaturen (190-230 Grad). Deshalb wird der Kaffee sehr säurearm und aromatisch
        </span>
    </div>

    <div class="p-4 text-white xl:order-7 h-60 sm:w-80 sm:h-60 xl:h-60 xl:w-60 bg-brand-500">
        <span>
            Wir verarbeiten Hochlandkaffee aus Süd- und Mittelamerika, Afrika und Asien. Die Röstungen erfolgen in kleinen Mengen, damit der Kaffee immer schön frisch bleibt.
        </span>
    </div>
    <div class="bg-center bg-cover xl:order-8 h-60 sm:w-80 sm:h-60 xl:h-60 xl:w-60"
        style="background-image: url('/static/images/kaffeepflanze.webp');">
    </div>


</div>



{{>footer}}
