<div class="flex flex-row flex-wrap justify-center gap-10 pt-8 mx-auto text-center">

    <div class="flex flex-col items-center w-60">
        <img class="object-cover "
            src="/static/images/hacienda_misiones.webp">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-60">
        <img class="object-cover "
            src="/static/images/hacienda_misiones.webp">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-60">
        <img class="object-cover "
            src="/static/images/hacienda_misiones.webp">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-60">
        <img class="object-cover "
            src="/static/images/hacienda_misiones.webp">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>
    <div class="flex flex-col items-center w-60">
        <img class="object-cover "
            src="/static/images/hacienda_misiones.webp">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-60">
        <img class="object-cover "
            src="/static/images/hacienda_misiones.webp">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-60">
        <img class="object-cover "
            src="/static/images/hacienda_misiones.webp">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-60">
        <img class="object-cover "
            src="/static/images/hacienda_misiones.webp">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>
    <div class="flex flex-col items-center w-60">
        <img class="object-cover "
            src="/static/images/hacienda_misiones.webp">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-60">
        <img class="object-cover "
            src="/static/images/hacienda_misiones.webp">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-60">
        <img class="object-cover "
            src="/static/images/hacienda_misiones.webp">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-60">
        <img class="object-cover "
            src="/static/images/hacienda_misiones.webp">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

</div>
