<div class="flex flex-row flex-wrap justify-center gap-10 pt-8 mx-auto text-center">

    <div class="flex flex-col items-center w-80">
        <img class="object-cover "
            src="https://static.wixstatic.com/media/edfe42_2739c2dd04124c6da680cf24dae3d5ec~mv2.jpg">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-80">
        <img class="object-cover "
            src="https://static.wixstatic.com/media/edfe42_2739c2dd04124c6da680cf24dae3d5ec~mv2.jpg">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-80">
        <img class="object-cover "
            src="https://static.wixstatic.com/media/edfe42_2739c2dd04124c6da680cf24dae3d5ec~mv2.jpg">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-80">
        <img class="object-cover "
            src="https://static.wixstatic.com/media/edfe42_2739c2dd04124c6da680cf24dae3d5ec~mv2.jpg">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>
    <div class="flex flex-col items-center w-80">
        <img class="object-cover "
            src="https://static.wixstatic.com/media/edfe42_2739c2dd04124c6da680cf24dae3d5ec~mv2.jpg">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-80">
        <img class="object-cover "
            src="https://static.wixstatic.com/media/edfe42_2739c2dd04124c6da680cf24dae3d5ec~mv2.jpg">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-80">
        <img class="object-cover "
            src="https://static.wixstatic.com/media/edfe42_2739c2dd04124c6da680cf24dae3d5ec~mv2.jpg">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-80">
        <img class="object-cover "
            src="https://static.wixstatic.com/media/edfe42_2739c2dd04124c6da680cf24dae3d5ec~mv2.jpg">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>
    <div class="flex flex-col items-center w-80">
        <img class="object-cover "
            src="https://static.wixstatic.com/media/edfe42_2739c2dd04124c6da680cf24dae3d5ec~mv2.jpg">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-80">
        <img class="object-cover "
            src="https://static.wixstatic.com/media/edfe42_2739c2dd04124c6da680cf24dae3d5ec~mv2.jpg">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-80">
        <img class="object-cover "
            src="https://static.wixstatic.com/media/edfe42_2739c2dd04124c6da680cf24dae3d5ec~mv2.jpg">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

    <div class="flex flex-col items-center w-80">
        <img class="object-cover "
            src="https://static.wixstatic.com/media/edfe42_2739c2dd04124c6da680cf24dae3d5ec~mv2.jpg">
        <div class="p-4">Hacienda Misiones Variedad GEISHA</div>
        <div>25,00 €<br>
            <span class="text-sm font-light">100,00 € / 1000g<br>
                inkl. MwSt. | zzgl. Versand</span>
        </div>
    </div>

</div>